In [10]:
import pandas as pd
import numpy as np
import matplotlib as mp
from utils import *
import tiingo
import seaborn as sns
import requests
import json

In [31]:
AAPL, AMZN, BABA, CRM, FB, GOOGL, MSFT, NFLX, TSLA, WMT = load_training_data()

In [32]:
tickers = [AAPL, AMZN, BABA, CRM, FB, GOOGL, MSFT, NFLX, TSLA, WMT]

In [33]:
for df in tickers:
    display(df.tail())

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,AAPL,2019-05-20,2019-05-26,183.520004,178.970001,188.000000,177.809998,156970100,182.904999
258,AAPL,2019-05-27,2019-06-02,178.919998,175.070007,180.589996,174.990005,104691400,177.790000
259,AAPL,2019-06-03,2019-06-09,175.600006,190.149994,191.919998,170.270004,154348200,181.095001
260,AAPL,2019-06-10,2019-06-16,191.809998,192.740005,196.789993,190.300003,111843100,193.544998
261,AAPL,2019-06-17,2019-06-23,192.899994,198.449997,200.289993,192.169998,40757000,196.229996

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,AMZN,2019-05-20,2019-05-26,1852.689941,1823.280029,1879.000000,1804.199951,18533900,1841.599975
258,AMZN,2019-05-27,2019-06-02,1832.750000,1775.069946,1849.270020,1772.699951,15244700,1810.984985
259,AMZN,2019-06-03,2019-06-09,1760.010010,1804.030029,1806.250000,1672.000000,27515100,1739.125000
260,AMZN,2019-06-10,2019-06-16,1822.000000,1869.670044,1893.699951,1818.000000,17739000,1855.849975
261,AMZN,2019-06-17,2019-06-23,1876.500000,1901.369995,1921.670044,1875.449951,6506200,1898.559998

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
244,BABA,2019-05-20,2019-05-26,164.440002,155.000000,165.589996,154.410004,129632700,160.000000
245,BABA,2019-05-27,2019-06-02,156.399994,149.259995,157.070007,147.949997,112902000,152.510002
246,BABA,2019-06-03,2019-06-09,149.600006,154.229996,156.110001,148.845001,109461000,152.477501
247,BABA,2019-06-10,2019-06-16,158.779999,158.100006,165.679993,157.229996,108764000,161.454994
248,BABA,2019-06-17,2019-06-23,157.529999,165.509995,169.110001,157.419998,51532000,163.265000

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,CRM,2019-05-20,2019-05-26,152.470001,154.509995,158.190002,151.699997,20070700,154.945000
258,CRM,2019-05-27,2019-06-02,155.350006,151.410004,157.809998,151.199997,19038600,154.504998
259,CRM,2019-06-03,2019-06-09,150.699997,161.270004,162.990005,142.509995,46059200,152.750000
260,CRM,2019-06-10,2019-06-16,153.479996,150.009995,157.449997,148.789993,63653900,153.119995
261,CRM,2019-06-17,2019-06-23,150.199997,150.589996,152.949997,149.869995,11785700,151.409996

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,FB,2019-05-20,2019-05-26,181.880005,181.059998,186.740005,179.669998,48645100,183.205002
258,FB,2019-05-27,2019-06-02,181.539993,177.470001,184.710007,177.160004,51449000,180.935005
259,FB,2019-06-03,2019-06-09,175.000000,173.350006,175.050003,160.839996,151225900,167.945000
260,FB,2019-06-10,2019-06-16,174.750000,181.330002,181.839996,172.880005,76761600,177.360000
261,FB,2019-06-17,2019-06-23,185.009995,188.470001,194.529999,184.410004,66691500,189.470001

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,GOOGL,2019-05-20,2019-05-26,1153.000000,1138.609985,1163.780029,1133.160034,5687900,1148.470032
258,GOOGL,2019-05-27,2019-06-02,1141.479980,1106.500000,1156.489990,1103.349976,5342400,1129.919983
259,GOOGL,2019-06-03,2019-06-09,1066.930054,1068.369995,1073.430054,1027.030029,13861900,1050.230041
260,GOOGL,2019-06-10,2019-06-16,1077.000000,1086.300049,1104.010010,1069.599976,6554200,1086.804993
261,GOOGL,2019-06-17,2019-06-23,1089.099976,1105.239990,1118.780029,1088.000000,2706500,1103.390015

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,MSFT,2019-05-20,2019-05-26,126.519997,126.239998,128.240005,124.739998,92123900,126.490001
258,MSFT,2019-05-27,2019-06-02,126.980003,123.680000,128.000000,123.320000,89367900,125.660000
259,MSFT,2019-06-03,2019-06-09,123.849998,131.399994,132.250000,119.010002,147636900,125.630001
260,MSFT,2019-06-10,2019-06-16,132.399994,132.449997,134.240005,130.710007,102505800,132.475006
261,MSFT,2019-06-17,2019-06-23,132.630005,135.160004,135.240005,132.529999,40228900,133.885002

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,NFLX,2019-05-20,2019-05-26,351.230011,354.390015,370.459991,345.399994,24338700,357.929992
258,NFLX,2019-05-27,2019-06-02,354.390015,343.279999,361.200012,342.920013,19407400,352.060013
259,NFLX,2019-06-03,2019-06-09,343.559998,360.869995,365.149994,332.649994,29248600,348.899994
260,NFLX,2019-06-10,2019-06-16,363.649994,339.730011,367.100006,336.160004,29020000,351.630005
261,NFLX,2019-06-17,2019-06-23,342.690002,357.119995,361.500000,342.059998,10744200,351.779999

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,TSLA,2019-05-20,2019-05-26,202.800003,190.630005,207.399994,186.220001,97899000,196.809998
258,TSLA,2019-05-27,2019-06-02,191.199997,185.160004,195.000000,184.100006,40614700,189.550003
259,TSLA,2019-06-03,2019-06-09,185.509995,204.500000,211.000000,176.990005,76628400,193.995002
260,TSLA,2019-06-10,2019-06-16,210.250000,214.919998,223.380005,207.509995,53037700,215.445000
261,TSLA,2019-06-17,2019-06-23,215.479996,224.740005,234.740005,214.270004,24985700,224.505005

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,WMT,2019-05-20,2019-05-26,100.389999,102.669998,102.889999,100.250000,32361900,101.569999
258,WMT,2019-05-27,2019-06-02,102.559998,101.440002,103.570000,100.599998,27739000,102.084999
259,WMT,2019-06-03,2019-06-09,101.629997,106.059998,106.360001,101.400002,34355600,103.880002
260,WMT,2019-06-10,2019-06-16,106.480003,109.070000,109.589996,106.370003,27719000,107.980000
261,WMT,2019-06-17,2019-06-23,109.120003,109.650002,109.959999,108.260002,9009800,109.110000

In [48]:
def get_json(ticker, start, end):
    query_base = "https://api.tiingo.com/tiingo/news?tickers={0}&startDate={1}&endDate={2}&limit=10"
    api_token = 'a265fc4a1013923f970d16e7348195074e97fcb0'
    headers = {'Content-Type': 'application/json',
               'Authorization': 'Token a265fc4a1013923f970d16e7348195074e97fcb0'}
    query = query_base.format(ticker.lower(), start, end)
    #print("query searched : {0}".format(query))
    response = requests.get(query, headers=headers)
    g = json.loads(response.content.decode('utf-8'))
    return g

def generate_text_column(json_output):
    result = []
    for article in json_output:
        title = article["title"]
        desc = article["description"]
        url = article["url"]
        article_text = title + " " + desc + " " + url
        result.append(article_text)
    return result

def add_news_text(df):
    js_func = lambda df: get_json(df["Ticker"], df["Start"], df["End"])
    df["JSON"] = df.apply(js_func, axis=1)
    df["ArticleText"] = df["JSON"].apply(generate_text_column)
    return df

In [49]:
example = add_news_text(CRM)

In [51]:
example.head(100)

,Ticker,Start,End,Open,Close,High,Low,Volume,Average,JSON,ArticleText
0,CRM,2014-06-16,2014-06-22,57.970001,57.509998,58.619999,57.009998,10691400,57.814999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
1,CRM,2014-06-23,2014-06-29,57.450001,57.380001,58.230000,56.630001,21251400,57.430000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
2,CRM,2014-06-30,2014-07-06,57.349998,58.759998,59.490002,57.349998,16718500,58.420000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
3,CRM,2014-07-07,2014-07-13,58.720001,54.209999,58.720001,53.299999,24775100,56.010000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
4,CRM,2014-07-14,2014-07-20,54.689999,53.500000,55.200001,52.480000,18586800,53.840001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
5,CRM,2014-07-21,2014-07-27,53.250000,54.889999,55.369999,52.580002,16897600,53.975001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
6,CRM,2014-07-28,2014-08-03,54.740002,53.480000,56.490002,52.910000,20206200,54.700001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
7,CRM,2014-08-04,2014-08-10,53.889999,54.439999,55.330002,53.360001,14756400,54.345002,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
8,CRM,2014-08-11,2014-08-17,54.680000,53.630001,55.180000,52.500000,23139500,53.840000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
9,CRM,2014-08-18,2014-08-24,54.110001,59.799999,61.009998,53.900002,49414800,57.455000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
10,CRM,2014-08-25,2014-08-31,59.340000,59.090000,60.599998,57.799999,29949200,59.199998,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
11,CRM,2014-09-01,2014-09-07,59.200001,59.810001,60.369999,58.750000,16237200,59.559999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
12,CRM,2014-09-08,2014-09-14,59.820000,59.250000,61.439999,59.060001,21391400,60.250000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
13,CRM,2014-09-15,2014-09-21,59.150002,58.240002,59.150002,56.830002,24444000,57.990002,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
14,CRM,2014-09-22,2014-09-28,58.049999,56.560001,58.230000,55.799999,21337600,57.015000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
15,CRM,2014-09-29,2014-10-05,55.560001,58.459999,58.560001,55.290001,22931800,56.925001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
16,CRM,2014-10-06,2014-10-12,58.959999,54.770000,59.400002,54.759998,20492700,57.080000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
17,CRM,2014-10-13,2014-10-19,54.750000,55.630001,56.279999,51.040001,29066400,53.660000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
18,CRM,2014-10-20,2014-10-26,54.750000,59.570000,59.680000,54.689999,21457700,57.184999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
19,CRM,2014-10-27,2014-11-02,59.369999,63.990002,64.599998,58.410000,23094400,61.504999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
20,CRM,2014-11-03,2014-11-09,63.919998,63.970001,64.639999,61.590000,19075600,63.114999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
21,CRM,2014-11-10,2014-11-16,64.050003,63.910000,64.739998,62.380001,13132900,63.559999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
22,CRM,2014-11-17,2014-11-23,63.730000,58.189999,64.099998,57.660000,40593100,60.879999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
23,CRM,2014-11-24,2014-11-30,57.290001,59.869999,60.290001,56.799999,22829300,58.545000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
24,CRM,2014-12-01,2014-12-07,59.090000,58.849998,59.810001,58.540001,18170800,59.175001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
25,CRM,2014-12-08,2014-12-14,58.540001,55.070000,58.730000,53.439999,25474700,56.085000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
26,CRM,2014-12-15,2014-12-21,55.419998,59.860001,60.480000,53.750000,40630700,57.115000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
27,CRM,2014-12-22,2014-12-28,59.930000,60.799999,61.099998,59.450001,14466000,60.274999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
28,CRM,2014-12-29,2015-01-04,60.410000,59.240002,60.930000,58.509998,11438000,59.719999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
29,CRM,2015-01-05,2015-01-11,58.599998,58.160000,59.500000,56.549999,21773500,58.024999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
...,...,...,...,...,...,...,...,...,...,...,...
70,CRM,2015-10-19,2015-10-25,78.440002,78.559998,79.379997,75.309998,16724800,77.344997,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
71,CRM,2015-10-26,2015-11-01,78.580002,77.709999,79.300003,76.570000,12855600,77.935001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
72,CRM,2015-11-02,2015-11-08,77.709999,79.410004,79.820000,77.500000,13531300,78.660000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
73,CRM,2015-11-09,2015-11-15,78.930000,75.599998,79.750000,75.419998,15166900,77.584999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
74,CRM,2015-11-16,2015-11-22,75.540001,80.989998,82.900002,73.940002,32002400,78.420002,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
75,CRM,2015-11-23,2015-11-29,80.440002,79.970001,81.739998,79.129997,11723000,80.434998,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
76,CRM,2015-11-30,2015-12-06,79.730003,82.139999,82.139999,79.290001,20707700,80.715000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
77,CRM,2015-12-07,2015-12-13,81.809998,76.870003,81.860001,76.650002,14767300,79.255001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
78,CRM,2015-12-14,2015-12-20,76.760002,77.029999,79.489998,75.849998,20451300,77.669998,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
79,CRM,2015-12-21,2015-12-27,78.300003,77.830002,78.900002,76.430000,8846600,77.665001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
80,CRM,2015-12-28,2016-01-03,77.660004,78.400002,79.889999,77.379997,8825500,78.634998,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
81,CRM,2016-01-04,2016-01-10,77.139999,73.230003,77.970001,72.900002,21706400,75.435001,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
82,CRM,2016-01-11,2016-01-17,73.739998,70.860001,75.709999,68.180000,26792600,71.944999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
83,CRM,2016-01-18,2016-01-24,71.860001,71.550003,72.190002,66.940002,23824700,69.565002,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
84,CRM,2016-01-25,2016-01-31,71.230003,68.059998,71.400002,65.269997,25526900,68.335000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
85,CRM,2016-02-01,2016-02-07,67.589996,58.509998,69.089996,57.750000,46223400,63.419998,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
86,CRM,2016-02-08,2016-02-14,56.869999,59.680000,61.590000,52.599998,57120000,57.094999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
87,CRM,2016-02-15,2016-02-21,60.680000,62.139999,64.419998,58.459999,27192500,61.439999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
88,CRM,2016-02-22,2016-02-28,62.139999,69.720001,70.839996,60.330002,51239600,65.584999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
89,CRM,2016-02-29,2016-03-06,69.129997,71.059998,72.180000,67.500000,25352900,69.840000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
90,CRM,2016-03-07,2016-03-13,70.500000,71.629997,72.320000,69.000000,21368700,70.660000,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
91,CRM,2016-03-14,2016-03-20,71.309998,72.650002,73.540001,71.089996,19430800,72.314999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
92,CRM,2016-03-21,2016-03-27,72.500000,72.440002,73.279999,71.059998,11844900,72.169998,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
93,CRM,2016-03-28,2016-04-03,72.389999,75.730003,75.949997,70.709999,21242900,73.329998,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
94,CRM,2016-04-04,2016-04-10,75.849998,74.849998,76.440002,74.300003,13596200,75.370002,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
95,CRM,2016-04-11,2016-04-17,75.470001,76.309998,76.589996,73.440002,12311200,75.014999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
96,CRM,2016-04-18,2016-04-24,76.239998,76.480003,77.820000,75.349998,13002100,76.584999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
97,CRM,2016-04-25,2016-05-01,76.180000,75.800003,76.830002,74.480003,14822000,75.655003,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
98,CRM,2016-05-02,2016-05-08,76.300003,74.250000,77.430000,73.169998,14563700,75.299999,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...
99,CRM,2016-05-09,2016-05-15,74.250000,76.370003,77.339996,74.199997,13669000,75.769996,"[{'crawlDate': '2019-03-22T21:21:59.809864Z', ...",[Traders Buy Shares of salesforce.com (CRM) on...